<section class="skills section" id="skills">
    <div class="container flex-center">
        <h1 class="section-title-01">Skills</h1>
        <h1 class="section-title-02">Skills</h1>
        <div class="content">
            <div class="skills-description">
                <h3> <b> Education & Skills</b></h3>
                <p>Filler text is text that shares some characteristics of a real written text,
                    but is random or otherwise generated. It may be used to display a sample of fonts,
                </p>
            </div>
            <div class="skills-info education-all">
                <div class="education">
                    <h4><label for="">Education</label></h4>
                    <div class="edu-list">
                        <li class="item">
                            <span class="year">2014-2015</span>
                            <p><span>10th in Hyderabad</span> Bhashyam High Scchool</p>
                        </li>
                        <li class="item">
                            <span class="year">2016-2018</span>
                            <p><span>12th in Hyderabad</span> Sri Chaitanya</p>
                        </li>
                        <li class="item">
                            <span class="year">2028-2022</span>
                            <p><span>Graduation</span> in MREC</p>
                        </li>
                    </div>
                </div>
                <div class="education">
                    <h4><label for="">Skills</label></h4>
                    <div class="bars">
                        <li class="bar">
                            <div class="info">
                                <span>HTML</span>
                                <span>70%</span>
                            </div>
                            <div class="line html"></div>
                        </li>
                        <li class="bar">
                            <div class="info">
                                <span>CSS</span>
                                <span>65%</span>
                            </div>
                            <div class="line css"></div>
                        </li>
                        <li class="bar">
                            <div class="info">
                                <span>JavaScript</span>
                                <span>40%</span>
                            </div>
                            <div class="line javascript"></div>
                        </li>
                        <li class="bar">
                            <div class="info">
                                <span>Angular</span>
                                <span>40%</span>
                            </div>
                            <div class="line angular"></div>
                        </li>
                        <li class="bar">
                            <div class="info">
                                <span>Adobe Premiere Pro</span>
                                <span>80%</span>
                            </div>
                            <div class="line premiere "></div>
                        </li>
                    </div>
                </div>
                <div class="education">
                    <h4><label for="">Awards</label></h4>
                    <div class="edu-list">
                        <li class="item">
                            <span class="year">2001</span>
                            <p>To my Birth</p>
                        </li>
                        <li class="item">
                            <span class="year">2032</span>
                            <p>Dheniko echaru</p>
                        </li>
                        <li class="item">
                            <span class="year">2044</span>
                            <p>Raganee Frist nikee cheptha</p>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-newsletter></app-newsletter>
<app-contact></app-contact>